name: OFP Decrypter by Area69Labs

on:
  workflow_dispatch:
    inputs:
      ofp_link:
        description: 'OFP Firmaware Link'
        required: true
      bigfile:
        description: 'Set if your ofp file is more than 8GB. Setting to yes will take more time.'
        required: false
        default: 'NO'             
        
env:
  OFP_LINK: ${{ github.event.inputs.ofp_link }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: CleanUp Enviroment
        if: ${{ github.event.inputs.bigfile }} == 'YES'     
        uses: rokibhasansagar/slimhub_actions@main

      - name: Download OFP Firmware
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y megatools
          megadl "${{ github.event.inputs.ofp_link }}" --path=.
          mv *.ofp firmware.ofp || mv *.OFP firmware.ofp
          ls -lh firmware.ofp
          OFPFILE="firmware.ofp"
          echo "OFP_FILE=${OFPFILE}" >> $GITHUB_ENV
          OFPNAME=$(basename ${OFPFILE} .ofp)
          echo "OFP_NAME=${OFPNAME}" >> $GITHUB_ENV

      - name: Prepare Decrypter and Decrypt OFP
        run: |
          sudo apt-get update -qqy
          sudo apt-get install -qqy openssl rsync sshpass python3-pip python3-pycryptodome
          git clone https://github.com/bkerler/oppo_decrypt.git --depth=1
          ls -lh
          printf "Trying to Decrypt QC OFP...\n"
          python3 ./oppo_decrypt/ofp_qc_extract.py firmware.ofp out 2>/dev/null
          if [[ ! -f out/super.img || ! -f out/system.img ]]; then
            printf "Trying to Decrypt MTK OFP...\n"
            python3 ./oppo_decrypt/ofp_mtk_decrypt.py firmware.ofp out 2>/dev/null
            if [[ ! -f out/super.img || ! -f out/system.img ]]; then
              printf "OFP Decryption Error\n" && exit 1
            fi
          fi

      - name: Compress & Upload Decrypted Zip
        run: |
          zip -r9 Decrypted."${OFPNAME}".zip out/
          echo "exit" | sshpass -p ${{ secrets.SFPASS }} ssh -tto StrictHostKeyChecking=no ${{ secrets.SFUSER }}@shell.sourceforge.net create
          rsync -arvPz --rsh="sshpass -p ${{ secrets.SFPASS }} ssh -l ${{ secrets.SFUSER }}" Decrypted."${OFPNAME}".zip ${{ secrets.SFUSER }}@shell.sourceforge.net:/home/frs/project/${{ secrets.SFDIR }}/"$OFP_NAME"/
          echo -e "\nGet your file at https://sourceforge.net/projects/${{ secrets.SFDIR }}/$OFP_NAME/Decrypted.${OFPNAME}.zip\n\n"
